n8n_workflows/daily_batch_v2.json
{
  "name": "Daily Batch (Orchestrator v2)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 6
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://anatomie-orchestrator.onrender.com/health",
        "options": {
          "timeout": 30000
        }
      },
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://anatomie-orchestrator.onrender.com/events/daily_batch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {
          "timeout": 300000
        }
      },
      "name": "Run Daily Batch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "fromEmail": "noreply@anatomie.com",
        "toEmail": "={{ $('Airtable Settings').item.json.fields['Notification Email'] }}",
        "subject": "Daily Batch Complete - {{ $json.ideas_generated }} Ideas, {{ $json.prompts_generated }} Prompts",
        "emailType": "text",
        "message": "=Daily Batch Summary\n\n{{ $json.summary }}\n\nDetails:\n- Ideas Generated: {{ $json.ideas_generated }}\n- Prompts Generated: {{ $json.prompts_generated }}\n- Retrain Triggered: {{ $json.retrain_triggered }}\n\nView new ideas: https://airtable.com/appW8hvRj3lUrqEH2"
      },
      "name": "Send Success Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [880, -100]
    },
    {
      "parameters": {
        "fromEmail": "noreply@anatomie.com",
        "toEmail": "shawn@anatomie.com",
        "subject": "Daily Batch FAILED",
        "emailType": "text",
        "message": "=Daily Batch Failed\n\nError: {{ $json.error }}\n\nPlease check Orchestrator logs."
      },
      "name": "Send Failure Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [880, 100]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appW8hvRj3lUrqEH2",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblLniml0SiVxrvvC",
          "mode": "id"
        },
        "options": {
          "view": {
            "value": "viwMnHXpmqGABT5Fj",
            "mode": "id"
          }
        }
      },
      "name": "Airtable Settings",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [440, 200],
      "executeOnce": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check": {
      "main": [
        [
          {
            "node": "Run Daily Batch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airtable Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Daily Batch": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Send Success Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Failure Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
