n8n_workflows/manual_generate_v2.json
{
  "name": "Manual Generate (Orchestrator v2)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manual-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "manual-generate-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://anatomie-orchestrator.onrender.com/events/manual_generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"num_prompts\": {{ $json.body.num_prompts || 12 }},\n  \"renderer\": \"{{ $json.body.renderer || 'ImageFX' }}\",\n  \"force_retrain\": {{ $json.body.force_retrain || false }}\n}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Call Orchestrator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Orchestrator": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
